* {
    border: 1px solid darkolivegreen;
}

body {
    background-color: lightgoldenrodyellow;
    color: cornflowerblue;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* flex-grow: 3; */
    margin: 0;
    text-align: center;
}

.container {
padding: 10px 50px;
}

.formbox {
    flex-direction: column;
    background-color: rgba(161, 104, 13, 0.505);
    justify-content: center;
    width: 60vw;
    height: auto;
    color: black;
    margin: auto;
}

.formbox h4 {
    margin: 5px;
}

.createBox {
    display: flex;
    flex-direction: column;
}

.createBox div {
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.labels {
    width: 25%;  
}

.input-box {
    /* justify-content: left; */
    width: 75%;
    margin: 0;
}

li {
     list-style: none;
 }
 
 header {
    font-size: larger;
    margin: 0;
    background-image: url('../images/banner.png');
    color: lightgoldenrodyellow;
    background-color: blue;
    background-size: 100vw;
    background-repeat: no-repeat;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;;
 }
 
a {
    text-decoration: none;
    color: inherit;
}

/* Nav bar dropdown */
nav {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}
.navitem {
    margin: 0px 20px;
}
.dropdown {
   position: relative;
   display: inline-block;
}
 
.dropdown .dropbtn {
   overflow: hidden;
   font-size: 20px;  
   border: none;
   outline: none;
   color: inherit;
   background-color: inherit;
   font-family: inherit;
   text-shadow: inherit;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: inherit;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,.5);
   z-index: 1;
   right: 0;
   /* text-shadow: inherit; */
}
.dropdown-content a {
   /* float: left; */
   color: inherit;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}
 
.dropdown-content a:hover {
   background-color: cornflowerblue;    
   /* font-weight: bolder; */
   text-shadow: inherit;
}
 
.dropdown:hover .dropdown-content {
   display: block;
}
