/* * {
    border: lightseagreen solid 1px;
} */

body {
    background-color: goldenrod;
    color: coral;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-grow: 3;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin: 0;
}

main {
    background: url("../images/designs/basket-with-wool-yarn-copy-space.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100vw;
}

.welcome {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: fit-content;
    min-height: 60vh;
    text-align: left;
}

.indexPat, .indexMbr {
    width: 40%;
    margin: 5%;
    /* margin: 3%; */
    height: fit-content;
    color: black;
}

.indexMbr {
    width: 20%;
}

.welcome ul {
    /* margin-left: 10px; */
    padding: 1px 10px;
}

.welcome li {
    background-color: rgba(255, 127, 80, 0.25);
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    margin-bottom: 10px;
    width: fit-content;
}

.welcome h5 {
    border-bottom: black solid 2px;
    font-size: 24px;
    margin: 5px 20px;
    width: fit-content;
}

.indexPat p {
    margin: 0px 10px;
    /* color: black; */
    width: fit-content;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: black solid 1px;
}

footer {
    color: lightgoldenrodyellow;
}
   
header {
    font-size: larger;
    margin: 0;
    background-image: url('../images/designs/banner.png');
    color: lightgoldenrodyellow;
    background-color: cornflowerblue;
    background-size: 100vw;
    background-repeat: no-repeat;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;;
    max-height: 15%,
}
nav {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    margin-bottom: 5px;
    font-size: 28px; 
}
.navitem {
    margin: 0px 20px;
}
.dropdown {
   position: relative;
   display: inline-block;
} 
.dropdown .dropbtn {
   overflow: hidden;
   font-size: 28px;  
   border: none;
   outline: none;
   color: inherit;
   background-color: inherit;
   font-family: inherit;
   text-shadow: inherit;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: inherit;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,.5);
   z-index: 1;
   right: 0;
   text-shadow: none;
}
.dropdown-content a {
   color: black;
   background-color: lightgoldenrodyellow;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
   font-size: 18px;
} 
.dropdown-content a:hover {
   background-color: cornflowerblue;    
   text-shadow: inherit;
}
.dropdown:hover .dropdown-content {
   display: block;
}

