
.auth {
    background: url("../images/designs/design/yarn12.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100vw;
    min-height: 75vh;
    display: flex;
    justify-content: center;
}

.auth div {
    margin: 30px 0;
    padding: 30px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(250, 250, 210, 0.85);
    border: black 2px solid;
}

#bluefooter {
    background-color: skyblue;
    margin: 0;
}

#member, #memberedit {
    background: url("../images/designs/knitting-needles-lying-near-bunch-yarn-pastel-background_141856-146.jpg") no-repeat center fixed;
    background-size: cover;
    min-width: 100vw;
    min-height: 85vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: black;
}

.formbox {
    width: 50%;
    height: fit-content;
    padding: 5%;
}

label {
    display: inline-block;
    width: 30%; 
    font-size: 18px;
    text-align: right;
}

.radioAv {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    width: 100%;
}

.profileImg {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.radioAv  label {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
    width: 100%;
}

.editMbr {
    justify-content: right;
    width: 65%;
    margin-top: 2px;
}


.profileImg img {
    width: 50px;
    height: 50px;
    border-radius: 10%;
}
   

.patternCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
}

.eachBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: bolder;
    font-size: 22px;
}

.eachPattern {
    width: 25%;
    position: relative;
    text-align: center;
    margin: 20px 10%;
}
    
.eachPattern:hover:after {
    position: relative;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: rgba(173, 216, 230, 0.486);
    color: black;
    font-weight: normal;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
  }