main {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    width: 100vw;
}

aside {
    display: flex;
    flex: 0 300px;
    padding: 15% 5px;
    justify-content: center;

}

#creator {
    background-color: lemonchiffon;
    color: coral;
    border: coral 2px solid;
    border-radius: 20px;
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#creator div {
    display: flex;
    flex-direction: row;  
}

#creator img {
    width: 40px;
    height: 40px;
}