        <nav>
            <div class="navitem">
                <input type="search" name="search" placeholder="search"/>
                <input type="submit" name="search"/>
            </div>
            <a class="navitem" href="/">Home</a>
            <div class="dropdown navitem">
                <button class="dropbtn">MENU</button>
                <div class="dropdown-content">
                    <a href="/auth/signup">Sign Up</a>
                    <a href="/auth/login">Log In</a>
                    <a href="/pattern/create">Create New Pattern</a>
        </nav>
    </header>
    <main>